/* Variables */
:root {
  --white: #ffffff;
  --black: #333333;
  --gray: #878787;
  --blue: #1769b8;
  --green: #4b9f9b;
  --purple: #bd86bf;
  --orange: #f8bb3c;
  --red: #eb5d5f;

  --type-body: 'DM Sans', sans-serif;
  --type-heading: 'DM Serif Display', serif;
  --type-mono: 'DM Mono', monospace;

  --body-bg: var(--white);
  --body-color: var(--black);
  --pie-color: var(--purple);
  --link-color: var(--blue);
}

/* Dark Theme overrides */
@media only screen {
  .dark {
    --white: #ececec;
    --gray: #a7a7a7;
    --green: #57b6b2;
    --blue: #2991f6;
    --body-bg: #1b1d22;
    --body-color: var(--white);
    --link-color: var(--blue);
  }
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  border: 0;
  text-decoration: none;
  list-style-type: none
}

body {
  font-family: var(--type-body);
  background-color: var(--body-bg);
  color: var(--body-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

/* Grid layout */
.grid-container {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;
  gap: 2em 5em;
  grid-template-areas:
      "name"
      "quote"
      "main"
      "aside"
      "footer";
}

.name {
  grid-area: name;
}

.quote {
  grid-area: quote;
  align-self: center;
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
  color: var(--gray);
  border-top: 1px solid var(--gray);
  padding-top: 1em;
  font-family: var(--type-mono);
  font-size: 0.875em;
  line-height: 2;
}

footer::before {
  content: "/* "
}

footer::after {
  content: " */"
}

footer > * {
  display: block;
}

/* Headings */
h1 {
  font-family: var(--type-heading);
  font-size: 5em;
  font-weight: 500;
  line-height: 0.8;
  color: var(--green);
}

h1 span {
  color: var(--green);
}

h2 {
  font-size: 1.5em;
  font-weight: 100;
  font-style: italic;
  border-bottom: 1px solid var(--gray);
  line-height: 1.2;
  padding: 0.5em 0;
  margin-bottom: 1em;
  color: var(--gray);
  font-family: var(--type-mono);
}

h3 {
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.25em;
}

h4 {
  font-family: var(--type-mono);
  font-size: 0.875em;
  color: var(--gray);
  margin-bottom: 0.25em;
}

/* Elements */

blockquote {
  font-size: 0.875em;
  color: var(--gray);
  font-style: italic;
  line-height: 1.5;
  font-family: var(--type-mono);
}

a, .link {
  color: var(--link-color);
  cursor: pointer;
}

footer a, footer .link {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}

section {
  margin-bottom: 2.25em;
}

article {
  break-inside: avoid;
}

article:not(:last-child) {
  margin-bottom: 3em;
}

p:not(:last-of-type) {
  margin-bottom: 1em;
}

.experience {
  columns: 1;
  column-gap: 5em;
}

.skills {
  columns: 1;
  column-gap: 1em;
}

.skills li {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
  font-size: 1em;
  font-family: var(--type-mono);
  position: relative;
}

.bio li {
  margin-bottom: 1em;
}

[data-proficiency]::before {
  position: relative;
  top: 0.2rem;
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 14px;
  height: 14px;
  border-radius: 10em;
  margin-right: 0.75em;
}

[data-proficiency="100"]::before {
  background: var(--pie-color);
}

[data-proficiency="90"]::before {
  background: conic-gradient(var(--body-bg) 0, var(--body-bg) 10%, var(--pie-color) 10%, var(--pie-color) 100%);
}

[data-proficiency="80"]::before {
  opacity: 0.9;
  background: conic-gradient(var(--body-bg) 0, var(--body-bg) 20%, var(--pie-color) 20%, var(--pie-color) 100%);
}

[data-proficiency="70"]::before {
  opacity: 0.75;
  background: conic-gradient(var(--body-bg) 0, var(--body-bg) 30%, var(--pie-color) 30%, var(--pie-color) 100%);
}

[data-proficiency="60"]::before {
  opacity: 0.6;
  background: conic-gradient(var(--body-bg) 0, var(--body-bg) 40%, var(--pie-color) 40%, var(--pie-color) 100%);
}

[data-proficiency="50"]::before {
  opacity: 0.45;
  background: conic-gradient(var(--body-bg) 0, var(--body-bg) 50%, var(--pie-color) 50%, var(--pie-color) 100%);
}

[data-proficiency="30"]::before {
  opacity: 0.4;
  background: conic-gradient(var(--body-bg) 0, var(--body-bg) 70%, var(--pie-color) 70%, var(--pie-color) 100%);
}

[data-proficiency="10"]::before {
  opacity: 0.3;
  background: conic-gradient(var(--body-bg) 0, var(--body-bg) 90%, var(--pie-color) 90%, var(--pie-color) 100%);
}

@media print, screen and (min-width: 800px) {
  .grid-container {
    padding: 2em 5em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 2em 5em;
    grid-template-areas:
      "name name quote quote quote quote"
      "main main main main aside aside"
      "footer footer footer footer footer footer";
  }

  .skills li {
    font-size: 0.875em;
    margin-bottom: 0.25em;
  }

  footer > * {
    display: inline;
  }

  footer > *:not(:first-child)::before {
    content: " • ";
  }

  footer::before {
    content: "// "
  }

  footer::after {
    content: ""
  }

}

@media print, screen and (min-width: 1000px) {
  .experience {
    columns: 2;
  }
}

@media print, screen and (min-width: 1200px) {
  .skills {
    columns: 2;
  }
}


@media print {
  @page { size: landscape; }
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  body {
    font-size: 10px;
  }
  .grid-container {
    padding: 1em 1em;
    grid-template-areas:
      "name name name quote quote quote"
      "main main main main aside aside"
      "footer footer footer footer footer footer";
  }

  footer a, .link {
    color: inherit;
    text-decoration: none;
  }

  [data-proficiency]::before {
    width: 8px;
    height: 8px;
    opacity: 1;
    top: 0.15rem;
  }
}

